nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a(href="/").navbar-brand Todo Manager

    ul.nav.navbar-nav  
      if !session.isConnected 
        li 
          a(href="/register") Register
      else 
        li
          p Hi #{session.firstname} !
        li
          a(href="/todos") Todos
        li
          a(href="/account") Account
      li
        a(href=session.isConnected ? '/logout' : '/login')= session.isConnected ? 'Logout' : 'Login'