extends layout

block content
    h1= title
    form(action='/todos', method='POST')
        p
            | message : 
            input(type='text', name='message', value='')
            | completion : 
            input(type='text', name='completion', value='todo')
        input(type='submit', value='Submit')