extends ../layout

block content
    h1 Todo Manager

    form(action='/todos/add' method='GET')
        button(type='submit') add
    br
    
    form(action='/todos' method='GET')
        select(name='completion')
            option(value='todo' selected = filterCompletion==='todo') todo
            option(value='in progress' selected = filterCompletion==='in progress') in progress
            option(value='done' selected = filterCompletion==='done') done
        button(type='submit') filter
    br
    a(href="/todos")
        button all
    br

    ul 
        each todo in todos
            li id : #{todo.id}  
                br 
                | title : #{todo.title}
                br 
                | description : #{todo.description}
                br 
                | completion : #{todo.completion}
            form(action='/todos/' + todo.id + '?_method=DELETE' method='POST')
                button(type='submit') delete
            form(action='/todos/' + todo.id method='GET')
                button(type='submit') show
            br
    