extends ../layout

block content

    h1 Todos

    a(href='/todos/add') New todo
        
    table.table
      thead
        tr
          th Todo
          th In progress
          th Done
      tbody
        tr
          td
            .list-group
            each todo in todos
              if todo.completion === "todo"
                a.list-group-item(href='/todos/' + todo.id)= todo.title
          td
            .list-group
            each todo in todos
              if todo.completion === "in progress"
                a.list-group-item(href='/todos/' + todo.id)= todo.title
          td
            .list-group
              each todo in todos
                if todo.completion === "done"
                  a.list-group-item(href='/todos/' + todo.id)= todo.title